* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1220px;
  margin-inline: auto;
}

.cardMovieWrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.cardItem {
  height: 320px;
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.cardBody {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 75ms ease-in;
}

.cardBody:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.cardTitle {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 600;
}

.cardTitle:hover {
  text-decoration: underline;
  color: #fc2c2c;
}

@media (max-width: 800px) {
  .cardMovieWrapper {
    flex-direction: column;
  }
  .cardItem {
    flex: auto;
  }
}
