* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1220px;
  margin-inline: auto;
}

.cardMovieWrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .cardMovieWrapper {
    flex-direction: column;
  }
  .cardItem {
    flex: auto;
  }
}
