.modalWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 101;
}

.modalLayer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.92);
}

.modalInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  padding: 12px 2rem;
  cursor: pointer;
  border: 1px solid #e92929;
  color: #e92929;
  background: transparent;
  border-radius: 50px;
  transition: 150ms ease-in;
}

.btn:hover {
    background-color: #e92929;
    color: white;
}
