.bgWrapper {
  width: 100%;
  height: 36rem;
  overflow: hidden;
  position: relative;
}

.bgImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.bgLayerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.bgLayerContainer {
  max-width: 1200px;
  margin-inline: auto;
  height: 100%;
  padding-top: 12rem;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

.genresWrapper {
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
}

.genres {
  color: white;
  font-weight: 600;
  font-size: 13px;
  padding: 10px 14px;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 50px;
}

.overview {
  padding-top: 1.2rem;
  color: white;
  line-height: 1.6rem;
  font-size: 18px;
  max-width: 40rem;
}

.star {
  color: rgb(236, 221, 18);
}

@media only screen and (max-width: 600px) {
  .bgLayerContainer {
    padding-inline: 1rem;
  }
}
